<template>
  <div id="app">
    <b-container>
      <b-row v-for="(item, index) in info" :key="index">
        <h2>{{ item.currency.name }}</h2>
        <b-table striped hover :items="item.quotations"></b-table>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Dashboard",
  data() {
    return {
      info: null
    };
  },
  mounted() {
    axios
      .get("https://ghpass-api.herokuapp.com/quotations", {
        mode: "no-cors",
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json"
        }
      })
      .then(response => (this.info = response.data.results));
  }
};
</script>

<!--<style scoped>-->

<!--</style>-->
