<template>
  <div>
    <b-container>
      <b-row>
        <b-col v-for="item in info" :key="item.currency.id">
          <b-card bg-variant="light" border-variant="secondary">
            <h4 slot="header">{{ item.currency.name }}</h4>
            <p>R$ {{ item.quotation.value }}</p>
            <p>Variação: {{ item.quotation.variation }}</p>
            <div slot="footer">
              <small class="text-muted">
                Última atualização: {{ item.quotation.timestamp }}
              </small>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "LastQuotations",
  data() {
    return {
      info: null
    };
  },
  mounted() {
    axios
      .get("https://ghpass-api.herokuapp.com/last-quotations", {
        mode: "no-cors",
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json"
        }
      })
      .then(response => (this.info = response.data.results));
  }
};
</script>

<style scoped></style>
