<template>
  <div id="app">
    <b-card class="text-center">
      <b-nav fill tabs>
        <b-nav-item>
          <router-link to="/last-quotations">Última Cotação</router-link>
        </b-nav-item>
        <b-nav-item>
          <router-link to="/dashboard">Histórico Recente</router-link>
        </b-nav-item>
      </b-nav>
      <br />
      <router-view />
    </b-card>
  </div>
</template>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
